<p class ="p1">
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>eco</mat-icon>
    </button>
    <span>LetsPlay</span>
    <span class="example-spacer"></span>
    <div class="div1" style="font-size:x-large ;">
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/gallary">Gallary</a>
    <a mat-button routerLink="/register">Register</a>
    <a mat-button routerLink="/login">Login</a>
  </div>
  
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div class ="container">
  
 <router-outlet></router-outlet> 
</div>
