<div class="div1">
<div class="container">
    <h2 class="h1">Gallary Image Loading....</h2>
    <p class="p1">images loading <span style="color: rgb(0, 205, 92);"> color utilites</span> to add a color to the spinner:</p>
     <div class="row"> 
      <!-- <mat-spinner></mat-spinner>                                   -->
    <div class="spinner-border text-muted"></div>
    <div class="spinner-border text-primary"></div>
    <div class="spinner-border text-success"></div>
    <div class="spinner-border text-info"></div>
    <div class="spinner-border text-warning"></div>
    <div class="spinner-border text-danger"></div>
    <div class="spinner-border text-secondary"></div>
    <div class="spinner-border text-dark"></div>
    <div class="spinner-border text-light"></div>
      
  </div>
      <div class="container">
        <div class="row">
          <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active" style="height: 400px;width: 1080px;">
                <img src="assets/image/img@2.jpg" alt="Los Angeles">
                <div class="carousel-caption">
                  <h3>Los Angeles</h3>
                  <p>We had such a great time in LA!</p>
                </div>   
              </div>
              <div class="carousel-item" style="height: 400px;width: 1080px;">
                <img src="assets/image/img@1.jpg" alt="Chicago" >
                <div class="carousel-caption">
                  <h3>Chicago</h3>
                  <p>Thank you, Chicago!</p>
                </div>   
              </div>
              <div class="carousel-item" style="height: 400px;width: 1080px;">
                <img src="assets/image/img@3.jpg" alt="New York" >
                <div class="carousel-caption">
                  <h3>New York</h3>
                  <p>We love the Big Apple!</p>
                </div>   
              </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
      </div>
  </div>
  
</div>