<div class="conatiner-fluid">
    <div class="row">
        <div class="col-md-6">
            <img class="img" src="assets/image/logo.jpg" alt="">
        </div>

        <div class="col-md-6">
            <h2 class="h2"><span style=color:darkred>professional</span></h2>
            <p class="p">With a professional logo, you will have one iconic image,<br>
                 with tailored variations, which you can use to promote your<br>
                  brand on virtually any surface. You will have a go-to design in the 
                <br>correct format and a high resolution for use across many different media.<br>
                A corporate identity or corporate image is the manner in which a corporation,<br>
                firm or business enterprise presents itself to the public (such as customers and investors as well as employees).<br>
                 The corporate identity is typically visualized by branding and with the use of trademarks,<br>
                 [4]but it can also include things like product design, advertising, public relations etc. </p>
        </div>
    </div>
</div>